<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>School Link</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

</head>

<header class="p-3 mb-3 border-bottom text-center container-fluid" style="background-color: #21323d">
    <div class="container mx-0">

        <div class="row mt-1">
            <div class="col-4" style="color: #dfd3c3">
                <ul class="nav col-lg-auto me-lg-auto mt-1 justify-content-center d-inline-flex">
                    <li><a href="/profil" class=" px-4 badge badge-dark ml-0">Profil</a></li>
                    <li><a href="/research" class=" px-4 badge badge badge-dark ml-2 pl-3">Liste des Utilisateurs</a>
                    </li>

                </ul>
            </div>

            <div class="col-2">
                <a href="/" class="d-inline-flex align-items-center mb-0 mb-lg-0 text-dark text-decoration-none">
                    <img style="height: 50px ; width: 50px"
                         src="https://cdn.discordapp.com/attachments/821662951626506263/829013831627178055/schoolLink.svg">
                </a>
            </div>

            <div class="col-4">
                <form action="/research" method="post" class=" form-inline d-inline-flex ">
                    <label>
                        <input id="searchs" name="searchs" type="search" class="form-control"
                               placeholder="Nom d'utilisateur">
                    </label>
                    <button type="submit" class="btn btn-light border border-dark d-inline ml-1">Rechercher</button>
                </form>


            </div>

            <div class="dropdown col-1">
                <a class=" dropdown-toggle" type="button" data-toggle="dropdown">
                    <img src={{infoUser.photo_de_profil}} alt="mdo" width="32" height="32"
                         class="rounded-circle m-auto pr-0"></a>
                <ul class="dropdown-menu">
                    <li><a href="/profil">Profil</a></li>
                    <li><a href="/chatHub">Chat</a></li>
                    <li><a href="/logout">Déconnexion</a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</header>
<body class="container-sm" style="background-color: #596e79">