{{> header}}

<body>
<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins ">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title">Modifications du profil</h2>
                <form method="POST" action="/modifications">
                    <div class="row row-space">
                        <div class="col-2">
                            {{#admin}}
                            <p>id : <textarea class="form-control" name="id">{{info.id}}</textarea></p>
                            {{/admin}}
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <p>Photo de profil : <textarea class="form-control" name="photo_de_profil">{{info.photo_de_profil}}</textarea></p>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <p>biographie : <textarea class="form-control" name="biographie">{{info.biographie}}</textarea></p>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <p>Etudes : <textarea class="form-control" name="etudes">{{info.etudes}}</textarea></p>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <p>contact : <textarea class="form-control" name="contact">{{info.contact}}</textarea></p>
                        </div>
                    </div>

                    <div class="p-t-15">
                        <input class="form-control btn btn-primary mr-2" type="submit" value="Modifier">
                        <a class="form-control btn btn-primary" href="/research">Annuler</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{> footer}}
