{{> header}}


<div class="row py-5 px-4">
    <div class="col-md-8 mx-auto">
        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 cover">
                <div class="media align-items-end profile-head mt-2">
                    <div class="profile mr-3"><img src="{{info.photo_de_profil}}" alt="..." width="130"
                                                   class="rounded mb-2 img-thumbnail">
                        {{#admin}}
                        <a href="/modifications/{{info.id}}" class="btn btn-outline-dark btn-sm btn-block">Edit
                        profile</a></div>
                        {{/admin}}
                    <div class="media-body mb-5 ">
                        <h4 class="mt-0 mb-0">{{info.nameUser}}</h4>
                        <p class="small mb-4"><i class="fas fa-map-marker-alt mr-2"></i></p>
                    </div>
                </div>
            </div>
            <div class="bg-light p-4 d-flex text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <h5 class="text-dark font-weight-bold mb-0 d-block">Université : {{info.univ}}</h5>
                    </li>
                </ul>
            </div>
            <div class="px-4 py-3">
                <h5 class="mb-0">A propos</h5>
                <div class="p-4 rounded shadow-sm bg-light">
                    <p class="font-italic mb-0">Bio : {{info.biographie}}</p>
                    <p class="font-italic mb-0">Etude : {{info.etudes}}</p>
                    <p class="font-italic mb-0">Contact : {{info.contact}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>

{{> footer}}