{{> header}}
<body class="container-sm">

<a class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
    <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-5 fw-semibold">Personnes trouvées</span>
</a>
<div class="list-group list-group-flush border-bottom scrollarea">
    {{#ressources}}
    <a href="/profilUser/{{userInfo.id}}" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between">
            <small class="text-muted"> <img src="{{photo_de_profil}}" style="height: 70px"></small>
            <strong class="mb-1">{{nameUser}}</strong>
            <a class="btn btn-primary" href="/addfriends/{{userInfo.id}}" role="button">Ajouter</a>

        </div>
        <div class="col-10 mb-1 small">{{biographie}}</div>
    </a>
    {{/ressources}}
</div>




</body>
{{> footer}}